<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Pengaturan koneksi database -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <!-- PASTIKAN URL, USER, DAN PASSWORD SESUAI DENGAN DATABASE ANDA -->
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/pradita</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>
        <!-- Dialek SQL yang digunakan Hibernate -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Opsi untuk menampilkan SQL yang dieksekusi di konsol (berguna untuk debugging) -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Skema pembuatan tabel (opsional, bisa 'update', 'create', 'create-drop', 'validate') -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->

        <!-- File Pemetaan Entitas -->
        <mapping class="org.example.data.entity.Pembelian"/>
        <mapping class="org.example.data.entity.Product"/>
        <mapping class="org.example.data.entity.ReturPembelian"/>
    </session-factory>
</hibernate-configuration>

