<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="File" fileName="logs/app.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="INFO"> <!-- Default log level -->
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/> <!-- Uncomment to also log to file -->
        </Root>
        <Logger name="org.example" level="DEBUG" additivity="false"> <!-- More detailed logs for your app -->
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>
        <Logger name="org.hibernate" level="WARN" additivity="false"> <!-- Reduce Hibernate noise, set to INFO/DEBUG for more detail -->
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>
         <Logger name="org.hibernate.SQL" level="DEBUG" additivity="false"> <!-- To see SQL queries by Hibernate -->
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.hibernate.type.descriptor.sql" level="TRACE" additivity="false"> <!-- To see bind parameters -->
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>